In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [7]:
# Index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [9]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [10]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [11]:
df

             A         B
G1 1 -1.444935  0.295060
   2 -1.593939 -1.000149
   3 -0.889623  0.472842
G2 1  1.595998  0.489464
   2 -0.368563  1.082571
   3 -0.151312  0.020543

In [12]:
df.loc['G1']

          A         B
1 -1.444935  0.295060
2 -1.593939 -1.000149
3 -0.889623  0.472842

In [13]:
df.index.names = ['Groups', 'Num']

In [14]:
df

                   A         B
Groups Num
G1     1   -1.444935  0.295060
       2   -1.593939 -1.000149
       3   -0.889623  0.472842
G2     1    1.595998  0.489464
       2   -0.368563  1.082571
       3   -0.151312  0.020543

In [15]:
df.loc['G2'].loc[2]['B']

1.0825709835817803

In [16]:
# Cross section of rows and columns
df.xs('G1')

            A         B
Num
1   -1.444935  0.295060
2   -1.593939 -1.000149
3   -0.889623  0.472842

df.xs(1,level='Num)

In [17]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.444935  0.295060
G2      1.595998  0.489464